# Ignore node_modules and npm/yarn logs
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore build outputs
.next
out

# Ignore test and environment files
coverage
.env
.env.local
.env.development
.env.test
.env.production
!.env.example

# Ignore Dockerfile and docker-compose files
Dockerfile
docker-compose.yml

# Ignore lock files
package-lock.json
yarn.lock

# Ignore IDE/editor settings
.vscode
.idea

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Extras
scripts
.gitignore
.git
LICENSE
README.md